//
   Created by rasmus on 3/1/16.
extends layout

block content
    div
        h1= title
        p Welcome to #{title}
        p You have been here: <strong>#{allJokesPage}</strong> times
        ul
        each joke in jokes.allJokes
          li
            p= joke
    div
        a(href='/index') Home

